 #map {
     height: 400px;
     width: 400px;
 }
 /* Carousel Header Styles */
 
 .header-text {
     position: absolute;
     top: 20%;
     left: 1.8%;
     right: auto;
     width: 96.66666666666666%;
     color: #fff;
     z-index: 2;
 }
 
 .header-text h2 {
     font-size: 40px;
 }
 
 .header-text h2 span {
     background-color: #3a3c41;
     background: rgba(255, 185, 0, 0.8);
     padding: 10px;
 }
 /* //////////////////////TEAM///////////////////////////////// */
 
 @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
 .animate {
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }
 
 
 /* MATERIALIZE */

 nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}